<!-- Start Overview -->
<div class="overview text-center">
  <div class="container">
    <h2 class="h1">Realize sua doação!</h2>
    <p>Selecione a ONG mais próxima de você e faça a diferença!</p>
    <h4>Vamos contribuir hoje?</h4>
    <button style="display: inline-block; margin-right: 10px;">Quero Doar!</button>
    <p-cascadeSelect [(ngModel)]="cidadeSelecionada" 
                 [options]="options" 
                 optionLabel="label" 
                 optionValue="value" 
                 optionGroupLabel="name" 
                 [optionGroupChildren]="['items']" 
                 placeholder="Selecione um Estado" 
                 (onChange)="filtrarOngs()">
</p-cascadeSelect>
  </div>
</div>
<!-- End Overview -->

<!-- Table of ONGs -->
<div class="card">
  <p-table [value]="ongsWithFilter" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Endereço</th>
        <th>Cidade</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ong>
      <tr>
        <td>{{ ong.idOng }}</td>
        <td>{{ ong.nome }}</td>
        <td>{{ ong.cnpj }}</td>
        <td>{{ ong.endereco }}</td>
        <td>{{ ong.cidade.nomeCidade }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>