


  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}



/* Start Upper Bar */
.upper-bar button{
  background-color: #08526d;
  color: #FFF;
  padding: 4px 20px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #d4dbd7;
  border-radius: 10px; /* Define o raio da borda */ 
 
  
}
.upper-bar {
  background-color: #08526d;
  color: #FFF
}

.upper-bar .info {
  margin: 15px 0
}

@media (max-width: 576px) {
  .upper-bar .info:first-child {
    margin-bottom: 0
  }
}

.upper-bar span {
  color: #bfc6c9
}

.upper-bar .get-quote {
  display: inline-block;
  border: 1px solid #ec1c23;
  padding: 2px 10px;
  margin-left: 20px;
}

@media (max-width: 576px) {
  .upper-bar .get-quote {
    border: none;
    margin-left: 5px
  }
}

/* End Upper Bar */


/* Start Navbar */

.navbar-brand > span {
  font-size: 40px
}

.navbar-brand span:first-child {
  color: #08526d;
  font-weight: bold;
}

.navbar-brand span:last-child {
  color: #4dd449;
}

.navbar-nav .nav-link {
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 20px;
  color: #08526d;
  font-weight: bold
}

.navbar-nav .active > .nav-link {
  color: #ec1c23 !important
}

/* End Navbar */

.my-carousel {
  position: relative;
  z-index: 1;
}

.banner {
  position: relative;
  z-index: 2;
}





/* Start Latest Posts */

.latest-posts {
  padding: 0 0 100px
}

.latest-posts h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.latest-posts .section-description {
  line-height: 1.6;
  font-size: 20px;
  width: 80%;
  margin: 0 auto 45px;
  color: #6a6a6a;
}

.latest-posts .card {
  margin-bottom: 30px
}

.latest-posts .card .card-title {
  font-size: 20px;
  line-height: 1.5;
  color: #08526d
}

.latest-posts .card .card-text {
  color: #787878;
  margin-bottom: 5px
}

.latest-posts button {
  background-color: #ed1d24;
  color: #FFF;
  padding: 5px 20px;
  font-size: 15px;
  font-weight: bold;
  border: 5px solid #ed1d24;
  border-radius: 20px; /* Define o raio da borda */

}
/* End Latest Posts */

/* PRODUTOS */
.produtos h4 {
  font-size: 32px;
  color: #08526d;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* FIM PRODUTOS */

/* Start Overview */

.overview {
  padding: 100px;

}

.overview h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .overview h2 {
    font-size: 30px;
    margin-bottom: 15px
  }
}

.overview p {
  line-height: 2;
  font-size: 20px;
  width: 80%;
  margin: 0 auto 15px;
  color: #6a6a6a;
}

@media (max-width: 992px) {
  .overview p {
    width: 100%;
  }
}

.overview h4 {
  letter-spacing: 2px;
  font-weight: normal;
  color: #8b8a8a;
  margin-bottom: 40px;
}

.overview button {
  background-color: #ed1d24;
  color: #FFF;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #ed1d24;
}

/* End Overview */




/* Start Choose Us */

.choose-us img {
  max-width: 100%
}

.choose-us .info {
  padding: 0;
}

.choose-us .info:last-child {
  background-color: #08526d;
  color: #FFF;
  padding-top: 30px;
  padding-bottom: 30px
}

.choose-us .h1 {
  margin: 40px
}

.choose-us p {
  margin: 40px;
  line-height: 2;
  font-size: 18px
}

.choose-us .read-more {
  display: inline-block;
  padding: 8px 20px;
  margin: 0 0 0 40px;
  background-color: #ed1d24;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/* End Choose Us */



/* Start Footer */

.footer {
  padding: 100px 0
}

.footer .site-info h2 {
  font-size: 50px;
  margin-bottom: 35px;
}

.footer .site-info h2 span:first-child {
  color: #08526d;
  font-weight: bold;
}

.footer .site-info h2 span:last-child {
  color: #4dd449;
}

.footer .site-info p {
  line-height: 1.8;
  color: #727272
}

.footer .site-info a {
  color: #08526d;
  font-size: 15px;
  font-weight: bold;
}

.footer .site-info a:before {
  font-family: 'FontAwesome';
  content: "\f138";
  display: inline-block;
  margin-right: 5px;
}

.footer .helpful-links h2,
.footer .contact h2 {
  font-size: 22px;
  color: #08526d;
  margin-bottom: 68px;
}

.footer .helpful-links ul li:before {
  font-family: 'FontAwesome';
  content: "\f054";
  margin-right: 5px;
  color: #08526d;
  font-size: 12px;
  position: relative;
  top: -1px;
}

.footer .contact ul li {
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .footer .helpful-links h2,
  .footer .contact h2 {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .footer .contact ul li {
    margin-bottom: 5px;
  }
}

/* End Footer */




