<router-outlet></router-outlet>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


  </head>
  
  
<!-- carrossel inicial-->
  <div id="carouselExampleIndicators" class="carousel slide">
	<div class="carousel-indicators">
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
	  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img src="/assets/images/teste.jpg" class="d-block w-100" alt="...">
	  </div>
	  <div class="carousel-item">
		<img src="/assets/images/banner.jpg" class="d-block w-100" alt="...">
	  </div>
	  <div class="carousel-item">
		<img src="/assets/images/banner.jpg" class="d-block w-100" alt="...">
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
  </div>

  <!--fimcarrosel inicial--> 
  

  <br><br>
 
<!-- Start Carousel -->

	<div class="card">
	  <p-carousel [value]="produtos" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
		<ng-template let-produto pTemplate="item">
		  <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
			<div class="mb-3">
				<img [src]="converterImagemBase(produto.imagemProduto)" alt="Produto" *ngFor="let produto of produtos">
			</div>
			<div>
			  <h4 class="mb-1">{{ produto.nomeProduto }}</h4>
			  <h6 class="mt-0 mb-3">{{ '$' + produto.precoProduto }}</h6>
			  <p-tag *ngIf="produto?.subcategoria?.categoria && produto?.categoriaProduto" [value]="produto.subcategoria.categoria.nomeCategoria" [severity]="getSeverity(produto.categoriaProduto.nomeCategoria)"></p-tag>
			  <div class="car-buttons mt-5">
				<p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-search"></p-button>
				<p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-star-fill"></p-button>
			  </div>
			</div>
		  </div>
		</ng-template>
	  </p-carousel>
	</div>  
	<!-- End Carousel -->

 
  <br><br><br>
  <!-- Start Latest Posts -->
  <div class="latest-posts">
	<div class="container">
	  <h2 class="text-center">Conheça nossas três plataformas!</h2>
	  <p class="section-description text-center"> Nosso site é dedicado a transformar o mundo através da venda, doação e reciclagem! Aqui, abrimos as portas para uma comunidade engajada e consciente, proporcionando uma plataforma única onde você pode encontrar produtos incríveis, contribuir para causas nobres e fazer a diferença no cuidado com o meio ambiente.</p>
	  <div class="row">
		<!-- Start Grid Column -->
		<div class="col-md-6 col-lg-4">
		  <div class="card">
			<img class="card-img-top" src="assets/images/ecommerce.jpeg" alt="" />
			<div class="card-body">
			  <h4 class="card-title">Compre e Venda</h4>
			  <p class="card-text"> Desapegue! Aqui encorajamos você a libertar-se do que não precisa mais e abrir espaço para o novo. Seja vendendo aqueles objetos que estão apenas ocupando espaço ou doando itens valiosos para causas significativas, nossa plataforma é o ponto de encontro perfeito entre desprendimento e impacto positivo. Venha fazer parte dessa comunidade vibrante, onde o desapego se torna uma fonte de renovação e contribuição para um mundo melhor!</p>
			  <button>Ver produtos</button>
			</div>
		  </div>
		</div>
		<!-- End Grid Column -->
		<!-- Start Grid Column -->
		<div class="col-md-6 col-lg-4">
		  <div class="card">
			<img class="card-img-top" src="assets/images/ong.png" alt="" />
			<div class="card-body">
			  <h4 class="card-title">Doe para Instituições</h4>
			  <p class="card-text">Doe para o bem e seja recompensado(a)!  Acreditamos que cada ato de generosidade merece ser valorizado, e é por isso que introduzimos o sistema de ECOCOINS. Ao doar uma quantidade específica de itens, você não apenas estará contribuindo para causas importantes, mas também acumulando pontos que podem ser trocados por recompensas exclusivas. Quanto mais você doa, mais pontos acumula e mais vantagens desfruta!</p>
			  <button>Ver Instituições</button>
			</div>
		  </div>
		</div>
		<!-- End Grid Column -->
		<!-- Start Grid Column -->
		<div class="col-md-6 col-lg-4">
		  <div class="card">
			<img class="card-img-top" src="assets/images/reciclagem.png" alt="" />
			<div class="card-body">
			  <h4 class="card-title">Recicle para Empresas</h4>
			  <p class="card-text">
				Descubra o poder da reciclagem e transforme seu compromisso com o meio ambiente em uma oportunidade lucrativa em nosso site! Somos uma plataforma inovadora que conecta você às principais empresas de reciclagem, permitindo que você converta materiais descartados em dinheiro. Ao reciclar de forma consciente e responsável, você não só contribui para a preservação do planeta, mas também tem a chance de lucrar com isso. </p>
				<button>Ver empresas</button>
			</div>
		  </div>
		</div>
		<!-- End Grid Column -->
	  </div>
	</div>
  </div>
  <!-- End Latest Posts -->

  
<!-- Start Carousel -->





  <!--produtos-->
  

 <!-- Start Overview -->
 <div class="overview text-center">
	<div class="container">
	  <h2 class="h1">Conheça nossas parcerias!</h2>
	  <p>
		Descubra nossas incríveis parcerias! Selecione um botão abaixo e mergulhe em um mundo de empresas de reciclagem comprometidas e ONGs apaixonadas por causas importantes. Conheça essas organizações incríveis que estão trabalhando arduamente para tornar nosso planeta mais verde e sustentável. Explore suas histórias inspiradoras, programas de recompensas emocionantes e projetos impactantes. Vamos juntos fazer a diferença! Clique agora e descubra como você pode se envolver nessa jornada de mudança positiva.</p>
	  <h4>Vamos contribuir hoje?</h4>
	  <button style="display: inline-block; margin-right: 10px;">Quero Doar!</button>
	  <button style="display: inline-block;">Quero Reciclar!</button>
	</div>
  </div>
  <!-- End Overview -->
  <br><br><br>

<!-- Start Why Choose Us -->
<div class="choose-us">
	<div class="container-fluid">
	  <div class="row">
		<div class="info col-xl-6">
		  <img src="assets/images/lixao.jpg" alt="" />
		</div>
		<div class="info col-xl-6">
		  <h2 class="h1">Por que realizar uma doação?</h2>
		  <p>No mundo em que vivemos, onde muitas crianças ainda enfrentam situações extremas, como viver em lixões, cada ato de doação pode fazer a diferença. Ao realizar uma doação, você está estendendo a mão para aqueles que mais precisam, oferecendo esperança e oportunidades para uma vida melhor. Sua generosidade pode proporcionar alimentação, abrigo, acesso à educação e cuidados médicos essenciais. Cada doação é um gesto de amor e solidariedade que tem o poder de transformar vidas inteiras. Junte-se a nós nessa missão de ajudar os mais vulneráveis e construir um futuro mais justo e humano. Sua doação pode ser a chave para um sorriso, para a superação de desafios e para a construção de um mundo mais acolhedor para todos. Faça a diferença hoje mesmo através de sua doação!</p>
		  <a href="#" class="read-more">Saiba Mais</a>
		</div>
	  </div>
	</div>
  </div>
  <!-- End Why Choose Us -->
<br><br>

   <!-- Start Footer -->
   <div class="footer">
	<div class="container">
	  <div class="row">
		<div class="col-sm-12 col-lg-6">
		  <div class="site-info">
			<h2><span>ECO</span><span>Market</span></h2>
			<p> Sua plataforma sustentável de venda, doação e reciclagem. Estamos comprometidos em criar um impacto positivo no mundo, promovendo um consumo consciente e sustentável. Conectamos pessoas apaixonadas por causas ambientais, incentivando a economia circular e a preservação dos recursos naturais. Junte-se a nós nessa jornada de mudança, onde cada ação conta. Seja vendendo, doando ou reciclando, você faz parte da transformação. Venha fazer parte da comunidade Ecomarket e contribua para um futuro mais verde e sustentável. </p>
		  </div>
		</div>
		<div class="col-sm-6 col-lg-3">
		  <div class="helpful-links">
			<h2>Links úteis</h2>
			<div class="row">
			  <div class="col">
				<ul class="list-unstyled">
				  <li>Sobre nós</li>
				  <li>Venda</li>
				  <li>Doação</li>
				  <li>Reciclagem</li>
				  <li>Cadastre-se</li>
				</ul>
			  </div>
			 
			</div>
		  </div>
		</div>
		<div class="col-sm-6 col-lg-3">
		  <div class="contact">
			<h2>Contate-nos</h2>
			<ul class="list-unstyled">
			  <li>(14)98970-2472</li>
			  <li>Tel: 1498970-2472</li>
			  <li>Email: <a href="mailto:info@ecomarket.com?subject=Contact">info@ecomarket.com</a></li>
			</ul>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!-- End Footer -->

</html>